* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Verdana;
}


body {
	background-color: #212121;
	color: #fff;
}

#nav {
	background-color: #000;
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#nav li {
	list-style-type: none;
	font-size: 2em;
	padding: 10px;
	display: inline-block;
}

#nav a {
	color: #fff;
	text-decoration: none;
}

.discord {
	text-align: center;
	float: right;
	width: 5em;
}

.discord-link {
	background-image: linear-gradient(to right, #8a15cf, #b615cf);
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

#paragraphs {
	display: flex;
	justify-content: space-around;
	font-size: 1.4em;
	padding-top: 120px;
}

#waypoints {
	flex: 0 0 80px;
	position: relative;
}

#waypoints-content {
	position: fixed;
	width: 80px;
	transition: all 3s;
}

#paragraphs-text {
	flex-basis: 70%;
}

.paragraph {
	padding: 200px 0;
}

.paragraph:last-child {
	padding-bottom: 0;
}

.paragraph p {
	font-size: 1.2em;
}

.paragraph:not(:first-child) {
	margin: 100px 0;
}

.paragraph:last-child {
	margin-bottom: 0;
}

.waypointtitle {
	font-size: 30px;
	font-weight: normal;
}

.activeElement {
	font-weight: bold;
}

#join {
	padding-top: 200px;
	padding-bottom: 100px;
	text-align: center;
}

#join a {
	padding: 15px 20px;
}

#paragraphs a {
	color: #fff;
	text-decoration: underline;
	transition: color .7s;
}

#paragraphs a:hover {
	color: #d1d1d1;
}

footer {
	background-color: #000;
	color: #a8a8a8;
	text-align: center;
	position: relative;
	height: 30px;
	line-height: 30px;
}

footer span {
	float: right;
	position: absolute;
	right: 30px;
}

@media only screen and (max-width: 880px) {
	#nav li {
		font-size: 1.5em;
	}
	#paragraphs div:first-child {
		display: none;
	}
	.paragraph {
		padding: 0 40px;
		margin: 0;
	}
	#paragraphs {
		display: block;
	}
}

@media only screen and (max-width: 700px) {
	#join a {
		font-size: 0.6em;
	}
	footer {
		text-align: left;
		padding: 10px;
	}
	footer span {
		position: static;
		right: 10px;
	}
        #nav li {
        font-size: 1.5em;
        }
}
